.nav-main__box {
  background-color: #235390;
  //top: 0;
  //left: 0;
  //right: 0;
  //position: fixed;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-content {
  grid-area: main;
}

.side-bar__box {
  grid-area: sidebar;
  background-color: white;
  border-right: 1px solid #E0E6EA;
}

.item-header {
  grid-area: header;
}


.sub-main__card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar main main main";
  grid-template-columns: 150px 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box__search {
  display: flex;
  flex-direction: column;
}


.card-container {
  width: 18rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}


@media (max-width: 400px) {
  .container {
    display: grid;
    background-color: red;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "sidebar main main";
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
