.nav-main__box {
  background-color: lightgrey;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: .5rem;
  display: flex;
  flex-direction: row;
}

.box__search {
  display: flex;
  flex-direction: column;
  //position: relative;
  //position: absolute;
  //li {
  //  cursor: pointer;
  //  padding: 5px;
  //  &:hover {
  //    outline:solid 1px green;
  //  }
  //
  //  &:focus {
  //    outline:solid 1px green;
  //  }
  //
  //  &:active {
  //    outline:solid 1px green;
  //  }
  //}
}

