<div class="container">
  <nav class="nav-main__box item-header">
    <!--  <button>Click me!</button>-->
    <div class="box__search">
      <app-search-list [items]="itemOrder">
        <app-search-box input-search [nameOfSearch]="'Search'" (returnValue)="elementReturn($event)"></app-search-box>
      </app-search-list>
    </div>
  </nav>


  <aside class="side-bar__box">
    <h4>hola</h4>
    <h4>hola</h4>
    <h4>hola</h4>
    <h4>hola</h4>
  </aside>


  <div text-center class="main-content">
    <div class="sub-main__card">
      <div class="card-container" *ngFor="let item of (data | async)">
        <h3>{{ item?.title }}</h3>
        <div>
          <span>{{ item?.description }}</span>
        </div>
          <button>Click me!</button>
      </div>
    </div>
  </div>
</div>


