.ul-search__find {
  margin: 0;
  list-style-type: none;
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
  position: absolute;
  background-color: white;
  //&:focus {
  //  border: solid 0.8px #f0bd50;;
  //  outline: none;
  //}
  li {
    cursor: pointer;
  }
}
